stringPerm.c
2dNameAssignment.c
a.out
addTwoPoly 
addTwoPoly.c 
bubble 
bubble.c 
Calculator_Assignment1.c 
Crud_Assignment2.c 
insertion 
LinkedList_CRUD.c 
longestPalindromic.c 
merge 
modulusAssign.c 
multiplyTwoPolynomial.c 
problemStatement8.c 
removeAdjacentDuplicates.c 
rotationMatch.c 
selection 
smallestWindow.c
searching