a.out
adjacent
adjacent.c
alternate.c
crudLL
factorial.c
LinkedList_CRUD.c
linkedlistCRUD.c
llcrud
mycrud.c

stringPerm.c
addTwoPoly.c 
smallestWindow.c 
rotationMatch.c 
removeAdjacentDuplicates.c 
problemStatement8.c 
modulusAssign.c 
longestPalindromic.c 
LinkedList_CRUD.c 
Crud_Assignment2.c 
Calculator_Assignment1.c 
2dNameAssignment.c